In [71]:
import geopandas as gpd
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import numpy as np

In [80]:
df = gpd.read_file("alb2_rwi_1_0mean.geojson")

In [81]:
df.columns

Index(['NAME_0', 'NAME_1', '_mean', 'rwi_max', 'rwi_mean', 'rwi_median',
       'sc_mean', 'sc_mean_std', 'sc_mean_std2', 'geometry'],
      dtype='object')

In [76]:
df.head()

,NAME_0,NAME_1,NAME_2,_mean,rwi_max,rwi_mean,rwi_median,sc_mean,geometry
0,Albania,Tiranë,Kavajës,-0.807,1.163,0.028854,-0.0115,0.643028,"MULTIPOLYGON (((19.54398 41.26376, 19.54741 41..."
1,Albania,Tiranë,Tiranës,-0.946,1.866,0.199047,0.0645,0.753785,"MULTIPOLYGON (((19.99180 41.44439, 19.99849 41..."
2,Albania,Vlorë,Delvinës,-0.881,0.752,-0.128229,-0.1605,0.701992,"MULTIPOLYGON (((19.95138 40.05125, 19.96300 40..."
3,Albania,Vlorë,Sarandës,-0.663,1.042,0.049405,-0.0620,0.528287,"MULTIPOLYGON (((20.12708 39.64958, 20.12708 39..."
4,Albania,Vlorë,Vlorës,-0.717,1.495,0.013196,-0.0730,0.571315,"MULTIPOLYGON (((19.27069 40.51430, 19.27069 40..."

In [65]:
# df2 = df["sc_mean"].replace(df["sc_mean"]<25, 0)

df['sc_mean'].values[df['sc_mean'].values > 30] = 1
df['sc_mean'].values[df['sc_mean'].values != 1] = 0

In [59]:
df['sc_mean'].values[df['sc_mean'].values == 1] = None

In [ ]:
df['sc_mean']

In [83]:
df.to_file("alb2_rwi_1_0mean.geojson", driver='GeoJSON')

In [19]:
scaler = StandardScaler()
scaler2 = MinMaxScaler()
t = np.asarray(df["sc_mean"])
t3 = np.asarray(df["_median"])
t = t.reshape(-1,1)
t3 = t.reshape(-1,1)
arr = scaler.fit_transform(t)
arr2 = scaler2.fit_transform(t)
arr3 = scaler2.fit_transform(t3)
df["sc_mean"] = arr2
df["sc_mean_std2"] = arr
df["_median"] = arr3

In [20]:
df[['NAME_1', 'NAME_2', 'NAME_3', 'sc_mean', '_median', '_stdev']].describe()

          sc_mean     _median      _stdev
count  378.000000  378.000000  378.000000
mean     0.630555    0.630555    0.054633
std      0.167099    0.167099    0.023042
min      0.000000    0.000000    0.017259
25%      0.547088    0.547088    0.037793
50%      0.646710    0.646710    0.050325
75%      0.757470    0.757470    0.065752
max      1.000000    1.000000    0.145698

In [82]:
# invert sc mean from low to high

df["sc_mean"] = 1 - df["sc_mean"]
# df["_median"] = 1 - df["_median"]

In [24]:
df[['NAME_1', 'NAME_2', 'NAME_3', 'sc_mean', '_median', '_stdev']].describe()

            sc_mean       _median      _stdev
count  3.780000e+02  3.780000e+02  378.000000
mean   3.694455e-01  3.694455e-01    0.054633
std    1.670993e-01  1.670993e-01    0.023042
min    1.110223e-16  1.110223e-16    0.017259
25%    2.425301e-01  2.425301e-01    0.037793
50%    3.532902e-01  3.532902e-01    0.050325
75%    4.529118e-01  4.529118e-01    0.065752
max    1.000000e+00  1.000000e+00    0.145698

In [67]:
#df.to_file("linear_model_sv.geojson", driver='GeoJSON')

In [60]:
# df2 = pd.read_csv("Data_Alb_cov_for_tool.csv")
# df2.replace(-9999,0,inplace = True)

In [61]:
# data_minmax = MinMaxScaler().fit_transform(df2)
# data_minmax = pd.DataFrame(data_minmax,
#                            index=df2.index,
#                            columns=df2.columns)

In [63]:
# data_minmax.to_csv("Data_Alb_cov_for_tool_fixed.csv")